**/.build*/*
bin/
_build/
xcore_sdk/
.vscode/
*.o
*.xe
*.vcd
*.xi
*.i
*.a
*~
#*#
*.vcd
*.log
*.xe
doc/_build/*
doc/*/.doxygen/*
doc/*/.linked_dirs/*
doc/*/.sources/*
doc/*/.support/*
*/.settings/*
Doxyfile-e
.DS_Store
*.pyc
*.xmt
*.prefs
examples/app_lores_DAS_fixed/.project
lib_mic_array/doc/pdf/index.pdf
tests/test_fir_model/trace.xstr
tests/test_results.csv
*.fir_coefs
examples/AN00221_freq_domain_example/doc/pdf/AN00218.pdf
examples/AN00218_app_hires_DAS_fixed/doc/pdf/AN00218.pdf
**/.venv/**
**/__pycache__/
**/.ipynb_checkpoints/

# Any files user wants to keep in their local clone
**/*.local.*
**/*.local.*/


# Unit test runners
**/runners/*

# waf build files
.lock-waf_*
.waf-*/
build/
