# YAML schema for GitHub Actions:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
#
# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/
#
# This workflow uses actions that are not certified by GitHub. They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support documentation.
#
# This file contains the workflows that are run prior to merging a pull request.

name: CI

on:
  push:
    branches:
      - 'develop'
      - 'master'
  pull_request:
    branches:
      - 'develop'
      - 'master'

  # Allow manually triggering of the workflow.
  workflow_dispatch: {}

jobs:
  build_tests_xcore:
    name: Build Test Apps
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Pull builder container
        run: |
          docker pull ghcr.io/xmos/sdk_app_builder:develop 

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy

      - name: Build
        run: |
          docker run --rm -w /lib_mic_array -v ${{ github.workspace }}:/lib_mic_array ghcr.io/xmos/sdk_app_builder:develop bash -l .github/scripts/build_test_apps.sh

# Ultimately checks that module_build_info is correct enough to build (with xmake) a trivial app 
# which uses this library.
  build_legacy_app:
    name: Build App (xmake)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Pull builder container
        run: |
          docker pull ghcr.io/xmos/sdk_app_builder:develop 

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy

      - name: Build
        run: |
          docker run --rm -w /lib_xcore_math -v ${{ github.workspace }}:/lib_xcore_math ghcr.io/xmos/sdk_app_builder:develop bash -l .github/scripts/build_legacy.sh
